.App {
  background: linear-gradient(0deg, #aaf4bf, #ffffff);
  font-family: Playfair display;
  height: 100vh; /* Full height */
  display: flex; /* Center the content */
  /* background: linear-gradient(0deg, #F1FFF3, #D9FFDE); */
}
.phoneticate {
  color: #1D722A;
  margin: 10px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
