/* .keyboard {
    flex:1;
} */
.keyboards {
  display: flex;
  gap: 1vw; 
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}


.grid-container-vowel {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); 4 columns */
  gap: 5px;
  /* width:33vw; */
  color: white;
  border: none;
  grid-template-columns: repeat(4, 1fr);
  flex:0.9;
}

.grid-container-cons {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); 4 columns */
  gap: 5px;
  color: white;
  border: none;
  grid-template-columns: repeat(6, 1fr);
  flex:1.8;
}

.grid-button {
  aspect-ratio: 1 / 1; /* makes them square */
  font-family: Noto Sans;
  width: 100%;
  font-size: clamp(18px, 2.5vw, 40px);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background: #A1D6B1;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
  align-items: center;
  justify-content: center;

}

.grid-button:hover {
  background: #1D722A;
  transform: scale(1.05);
}